<form id="comment-form">
    <h2>Add comment</h2>
    <label for="author">Author</label>
    <input type="text" id="author" name="author">
    <label for="comment">Content</label>
    <textarea id="comment" name="comment"></textarea>
    <button type="submit">Add comment</button>
</form>
<script>
    document.querySelector("#comment-form").addEventListener("submit", (event)=>{
        event.preventDefault();
        let body = {
            author: event.target["author"].value,
            comment: event.target["comment"].value,
            postId: window.location.pathname.split("/").pop()
        }
        fetch("/comment", {
            method: "POST",
            headers: {
                "Content-type": "application/json"
            },
            body: JSON.stringify(body)
        }).then(()=>location.reload())
    })
</script>