<div class="modal">
    <div class="modal-content">
        <form>
            <button class="closeBtn" type="button">X</button>
            <h2>Add AD</h2>
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
            <label for="desc">Description</label>
            <textarea id="desc" name="desc"></textarea>
            <label for="image" class="image-label">Upload image</label>
            <input type="file" id="image" name="image" accept="image/*" required multiple>
            <button type="submit">Add ad</button>
        </form>
    </div>
</div>
<button id="openBtn">+</button>