<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("head.ejs") %>
</head>

<body>
    <%- include("header.ejs") %>
        <main>
            <h1>404 Not Found</h1>
            <p>The page you are looking for does not exist.</p>
            <h3><a href="/">To main page</a></h3>
        </main>
        <%- include("footer.ejs") %>
</body>

</html>