@use "../colors" as c;

header {
    background: c.$bg-200;
    color: c.$primary-100;
    font-family: 'Creepster', cursive;
    padding: 1.5rem;
    text-align: center;
    border-bottom: 2px solid c.$primary-100;
    box-shadow: 0 0 20px rgba(c.$primary-100, 0.3);
    
    h1 {
        font-size: 2.5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 0.5rem;
        text-shadow: 2px 2px 4px rgba(c.$accent-100, 0.5);
    }
}